{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container col-md-7 text-center">
    <h1 class="h1 mb-3 mt-3 font-weight-normal text-danger">USER REGISTRATION</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    <div class="checkbox mb-3">
        <label>
         {{ form_row(registrationForm.agreeTerms) }}
         </label>
    </div>

        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}